.formstyle{
                width: 330px;
                height: 370px;
                margin: auto;
                border: 1px solid black;
                border-radius: 10px;
            }
            input{
                width:70px;
                height:30px;
                border-color: dimgray;
                border-radius: 4px;
            }
            input.ans{
                margin-left: 20px;
                margin-top: 30px;;                    
                width:290px;
                height:40px;
            }
            input.a{
                margin-left: 20px;
                width:70px;
                height:30px;
            }
            input.b{
                margin-left: 20px;
                width:70px;
                height:30px;
            }
            input.c{
                margin-left: 20px;
                width:70px;
                height:30px;
            }
            input.d{
                margin-left: 20px;
                width:70px;
                height:30px;
            }
            h4{
                margin-left: 155px;
            }