
fieldset.a{
  width:50px;
  height:50%;
}
table.a{
  border: 1px solid black;
  width:90%;
  height:50px;
  empty-cells: show
}
table.b{
width:780px;
  height:90px;
}
table{
  width:980px;
  height:90px;
}
div.small{
overflow:scroll;
}
div.big{
margin:50px 150px ;
}